---
import { SITE } from '@/consts'
import { isSubpost } from '@/lib/data-utils'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const title = post.data.title || SITE.title
const description = post.data.description || SITE.description
const resolvedTitle =
  title === SITE.title ? SITE.title : `${title} | ${SITE.title}`
const canonical = Astro.url.origin + Astro.url.pathname
const image = new URL('/static/1200x630.png', Astro.url)
const imageUrl = post?.data?.image?.src
  ? new URL(post.data.image.src, Astro.url).href
  : image.href
const author = SITE.author
const publishedTime = post.data.date.toISOString()
---

<title>{resolvedTitle}</title>
<meta name="title" content={resolvedTitle} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<link rel="canonical" href={canonical} />

{isSubpost(post.id) && <meta name="robots" content="noindex" />}

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />
<meta property="og:image:alt" content={title} />
<meta property="og:type" content="article" />
<meta property="og:locale" content={SITE.locale} />
<meta property="og:site_name" content={SITE.title} />
<meta property="og:url" content={canonical} />
<meta property="article:published_time" content={publishedTime} />

<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageUrl} />
<meta name="twitter:image:alt" content={title} />
<meta name="twitter:card" content="summary_large_image" />

{
  post?.data.tags &&
    post.data.tags.map((tag: string) => {
      return <meta property="article:tag" content={tag} />
    })
}
